<h1>Bulk Discounts Index Page</h1>

<h2><%= @merchant.name %></h2>
  <%= link_to "New Discount", "/merchant/#{@merchant.id}/bulk_discounts/new", method: :get %>

<% @merchant.bulk_discounts.each do |discount| %>
  <section id='discount-<%= discount.id %>'>
    <p>Percentage Discount: <%= "#{discount.percent}" %>%</p>
    <p>Quantity Threshold: <%= "#{discount.threshold}" %></p>
    <%= link_to "View Discount", merchant_bulk_discount_path(@merchant, discount) %>
    <p><%= button_to "Delete", merchant_bulk_discount_path(@merchant, discount.id), method: :delete %></p>
  </section>
<% end %>