<h1>Create New Discount</h1>
<%= form_with url: merchant_bulk_discounts_path, method: :post, local: true do |f| %>
  <%= f.label :percent %>
  <%= f.text_field :percent %>
  <%= f.label :thereshold %>
  <%= f.text_field :threshold %>
  <%= f.submit "Submit" %>
<% end %>